<!DOCTYPE html>
<html>
	<head>
		{% block head %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
		<meta name=viewport content="width=device-width, initial-scale=1">
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
	<noscript id="deferred-styles">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	</noscript>
	<script>
		var loadDeferredStyles = function() {
			var addStylesNode = document.getElementById("deferred-styles");
			var replacement = document.createElement("div");
			replacement.innerHTML = addStylesNode.textContent;
			document.body.appendChild(replacement)
			addStylesNode.parentElement.removeChild(addStylesNode);
		};
		window.addEventListener('load', loadDeferredStyles);
	</script>


</html>