{% extends "base.html" %}

{% block title%}Signup{% endblock %}

{% block content %}


<div class="form-wrapper">
	<!-- <h1>New Article</h1> -->

	<form class="newpost-form" method="post">
<h1>Signup</h1>

<form method="post">

<table> 

    <tr> 
        <td><label>Username</label></td>
        <td>
            <input type="text" name="username" value="{{username}}">
            <br>
            <div style="color: red">{{username_error}}</div>
        </td>
    </tr>
    
    
    <tr>
        <td><label>Password</label></td>
        <td>
            <input type="password" name="password" value="">
            <div style="color: red">{{password_error}}</div>
        </td>
    </tr>

    <tr>
        <td><label>Verify Password</label></td>
        <td>
            <input type="password" name="verify" value="">
            <div style="color: red">{{verify_error}}</div>
        </td>
    </tr>
    
    <tr>
        <td><label> Email (optional)</label></td>
        <td>
            <input type="text" name="email" value="{{email}}">
            <div style="color: red">{{email_error}}</div>
        </td>        
    </tr>

    <tr>
        <td><p><td>
    </tr>

    <tr>
        <td></td>
        <td><input type="submit" value = "Validate"><td>
    </tr>   
</table>
</form>
	</form>
</div>
{% endblock %}