{% extends "base.html" %}

{% block title%}Signup{% endblock %}

{% block content %}
<div class="form-wrapper">


    <form method="post">

        <table> 
            <th colspan="2"><h1>Signup</h1></th>
            <tr> 
                <td><label>Username</label></td>
                <td>
                    
                    <input type="text" required name="username" value="{{username}}">
                    <div class="error"></div>
                </td>
            </tr>
            
            
            <tr>
                <td><label>Password</label></td>
                <td>
                    <input type="password" required name="password" value="">
                    <div class="error"></div>
                </td>
            </tr>
          
            <tr>
                <td><label>Email</label></td>
                <td>
                    <input type="text" name="email" value="{{email}}">
                    <div style="color: red">{{email_error}}</div>
                </td>        
            </tr>

            <tr>
                <td><p><td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value = "Validate"><td>
            </tr>   
        </table>
    </form>
</div>
{% endblock %}